{# 继承父模板 #}
{% extends 'common/base.html' %}

{# 加载标签 #}
{% load staticfiles %}

{# 加载过滤器 #}
{% load users_filters %}

{% block body %}

    {# 是否登录的状态 #}
    {% include 'common/status.html' %}

	<div class="search_bar clearfix">
		<a href="{% url 'goods:index' %}" class="logo fl"><img src="{% static 'images/logo.png' %}"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>

	<div class="main_con clearfix">

        {# 用户中心左侧区域 #}
        {% include 'users/user_left_area.html' with flag='info' %}

		<div class="right_content clearfix">
				<div class="info_con clearfix">
				<h3 class="common_title2">基本信息</h3>
						<ul class="user_info_list">
							<li><span>收件人：</span>{{ user.user_recv|default:'未填写' }}</li>
							<li><span>联系方式：</span>{{ user.user_tele|default:'未填写' }}</li>
							<li><span>联系地址：</span>{{ user.user_addr|default:'未填写' }}</li>
						</ul>
				</div>
				
				<h3 class="common_title2">最近浏览</h3>
				<div class="has_view_list">
					<ul class="goods_type_list clearfix">

                {% for record in user.recordbrowse_set.all|record_sort %}
				<li>
					<a href="{% url 'goods:detail' %}?id={{ record.browse_goods.id }}"><img src="{% static record.browse_goods.goods_image %}"></a>
					<h4><a href="{% url 'goods:detail' %}?id={{ record.browse_goods.id }}">{{ record.browse_goods.goods_name }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ record.browse_goods.goods_price }}</span>
						<span class="unit">{{ record.browse_goods.goods_price }}/{{ record.browse_goods.goods_unit }}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}

			</ul>
		</div>
		</div>
	</div>

{% endblock body %}