{# 继承父模板 #}
{% extends 'common/base.html' %}

{# 加载标签 #}
{% load staticfiles %}

{% block header_js %}
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script >
        $(function () {
            $('.add').click(function () {
                num = $(this).parents('.cart_list_td').find('.num_show').val();
                num = parseInt(num) + 1;
                $(this).parents('.cart_list_td').find('.num_show').val(num);

                update_mysql_data($(this));

            });

            $('.minus').click(function () {
                num = $(this).parents('.cart_list_td').find('.num_show').val();
                num = parseInt(num) - 1
                if(num <= 0) {
                    num = 1
                }
                $(this).parents('.cart_list_td').find('.num_show').val(num);

                update_mysql_data($(this))

            });

            {# 更新后端数据 #}
            function update_mysql_data(obj) {

                goods_id = obj.parents('.cart_list_td').find('input:checkbox').val();
                goods_num = obj.parents('.cart_list_td').find('.num_show').val();

                $.get('{% url 'carts:update_cart_data' %}', {'goods_id': goods_id, 'goods_num': goods_num}, function (data) {

                    {# 确定mysql已更新, 前端页面动态更新 #}
                    if (data.ret == 1){

                        {#  1.更新单品价格  #}
                        price = parseFloat(obj.parents('.cart_list_td').find('.col05').html());
                        cart_money = price*goods_num;
                        obj.parents('.cart_list_td').find('.col07').html(cart_money.toFixed(2) + '元')

                        total_money = 0
                        total_num = 0
                        {#  1.更新总价格和总数量  #}
                        $('.cart_list_td').each(function () {

                            if (!$(this).find('input:checkbox').prop('checked')){
                                return true;
                            };

                            cart_money = parseFloat($(this).find('.col07').html());
                            goods_num = $(this).find('.num_show').val();

                            total_money += cart_money;
                            total_num += parseInt(goods_num);

                        });

                        $('.settlements .col03').find('em').html(total_money.toFixed(2) + '元');
                        $('.settlements .col03').find('b').html(total_num);

                    }
                });

            };



        })

    </script>

{% endblock header_js %}

{% block body %}

    {% include 'common/status.html' %}

	<div class="search_bar clearfix">
		<a href="../goods/index.html" class="logo fl"><img src="{% static 'images/logo.png' %}"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;购物车</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>

	<div class="total_count">全部商品<em>2</em>件</div>	
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>


    <form method="post" action="{% url 'users:centerorder' %}">
    {% csrf_token %}
    {% for cart in carts %}
	<ul class="cart_list_td clearfix">
		<li class="col01"><input type="checkbox" name="" value="{{ cart.cart_goods.id }}" checked></li>
		<li class="col02"><img src="{% static cart.cart_goods.goods_image %}"></li>
		<li class="col03">{{ cart.cart_goods.goods_name }}<br><em>{{ cart.cart_goods.goods_price }}元/{{ cart.cart_goods.goods_unit }}</em></li>
		<li class="col04">{{ cart.cart_goods.goods_unit }}</li>
		<li class="col05">{{ cart.cart_goods.goods_price }}元</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl">+</a>
				<input type="text" class="num_show fl" value="{{ cart.cart_amount }}">
				<a href="javascript:;" class="minus fl">-</a>
			</div>
		</li>
		<li class="col07">{{ cart.total }}</li>
		<li class="col08"><a href="javascript:;">删除</a></li>
	</ul>
    {% endfor %}
    </form>

	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" checked=""></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em>{{ money }}</em><br>共计<b>{{ total }}</b>件商品</li>
		<li class="col04"><a href="../order/place_order.html">去结算</a></li>
	</ul>

{% endblock body %}